<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="990"
	maxImageHeight="660"
	indexPageName="005.html"

>
  <image imageURL="images/DSCN1503.jpg"
	thumbURL="thumbs/DSCN1503.jpg"
	linkURL="images/DSCN1503.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1503.JPG">
    <title><![CDATA[DSCN1503]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1508.jpg"
	thumbURL="thumbs/DSCN1508.jpg"
	linkURL="images/DSCN1508.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1508.JPG">
    <title><![CDATA[DSCN1508]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1460.jpg"
	thumbURL="thumbs/DSCN1460.jpg"
	linkURL="images/DSCN1460.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1460.JPG">
    <title><![CDATA[DSCN1460]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1470.jpg"
	thumbURL="thumbs/DSCN1470.jpg"
	linkURL="images/DSCN1470.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1470.JPG">
    <title><![CDATA[DSCN1470]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1472.jpg"
	thumbURL="thumbs/DSCN1472.jpg"
	linkURL="images/DSCN1472.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1472.JPG">
    <title><![CDATA[DSCN1472]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1473.jpg"
	thumbURL="thumbs/DSCN1473.jpg"
	linkURL="images/DSCN1473.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1473.JPG">
    <title><![CDATA[DSCN1473]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1480.jpg"
	thumbURL="thumbs/DSCN1480.jpg"
	linkURL="images/DSCN1480.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1480.JPG">
    <title><![CDATA[DSCN1480]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1481.jpg"
	thumbURL="thumbs/DSCN1481.jpg"
	linkURL="images/DSCN1481.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1481.JPG">
    <title><![CDATA[DSCN1481]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1482.jpg"
	thumbURL="thumbs/DSCN1482.jpg"
	linkURL="images/DSCN1482.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1482.JPG">
    <title><![CDATA[DSCN1482]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1484.jpg"
	thumbURL="thumbs/DSCN1484.jpg"
	linkURL="images/DSCN1484.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1484.JPG">
    <title><![CDATA[DSCN1484]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCN1488.jpg"
	thumbURL="thumbs/DSCN1488.jpg"
	linkURL="images/DSCN1488.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 410 M2\DSCN1488.JPG">
    <title><![CDATA[DSCN1488]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>