<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="990"
	maxImageHeight="660"
	indexPageName="006.html"

>
  <image imageURL="images/DSC00934.jpg"
	thumbURL="thumbs/DSC00934.jpg"
	linkURL="images/DSC00934.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00934.JPG">
    <title><![CDATA[DSC00934]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/100_9678.jpg"
	thumbURL="thumbs/100_9678.jpg"
	linkURL="images/100_9678.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\100_9678.jpg">
    <title><![CDATA[100_9678]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/100_9685.jpg"
	thumbURL="thumbs/100_9685.jpg"
	linkURL="images/100_9685.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\100_9685.jpg">
    <title><![CDATA[100_9685]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150404_135101.jpg"
	thumbURL="thumbs/20150404_135101.jpg"
	linkURL="images/20150404_135101.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\20150404_135101.jpg">
    <title><![CDATA[20150404_135101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00108.jpg"
	thumbURL="thumbs/DSC00108.jpg"
	linkURL="images/DSC00108.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00108.JPG">
    <title><![CDATA[DSC00108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00109.jpg"
	thumbURL="thumbs/DSC00109.jpg"
	linkURL="images/DSC00109.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00109.JPG">
    <title><![CDATA[DSC00109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00110.jpg"
	thumbURL="thumbs/DSC00110.jpg"
	linkURL="images/DSC00110.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00110.JPG">
    <title><![CDATA[DSC00110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00112.jpg"
	thumbURL="thumbs/DSC00112.jpg"
	linkURL="images/DSC00112.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00112.JPG">
    <title><![CDATA[DSC00112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00932.jpg"
	thumbURL="thumbs/DSC00932.jpg"
	linkURL="images/DSC00932.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00932.JPG">
    <title><![CDATA[DSC00932]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC00933.jpg"
	thumbURL="thumbs/DSC00933.jpg"
	linkURL="images/DSC00933.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA PISCINA QUINCHO Y SPA\DSC00933.JPG">
    <title><![CDATA[DSC00933]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>