<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="990"
	maxImageHeight="660"
	indexPageName="001.html"

>
  <image imageURL="images/20151021_101610.jpg"
	thumbURL="thumbs/20151021_101610.jpg"
	linkURL="images/20151021_101610.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101610.jpg">
    <title><![CDATA[20151021_101610]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151027_102837.jpg"
	thumbURL="thumbs/20151027_102837.jpg"
	linkURL="images/20151027_102837.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151027_102837.jpg">
    <title><![CDATA[20151027_102837]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151126_153253.jpg"
	thumbURL="thumbs/20151126_153253.jpg"
	linkURL="images/20151126_153253.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151126_153253.jpg">
    <title><![CDATA[20151126_153253]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160822_171454.jpg"
	thumbURL="thumbs/20160822_171454.jpg"
	linkURL="images/20160822_171454.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160822_171454.jpg">
    <title><![CDATA[20160822_171454]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_093440.jpg"
	thumbURL="thumbs/20160903_093440.jpg"
	linkURL="images/20160903_093440.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_093440.jpg">
    <title><![CDATA[20160903_093440]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_093457.jpg"
	thumbURL="thumbs/20160903_093457.jpg"
	linkURL="images/20160903_093457.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_093457.jpg">
    <title><![CDATA[20160903_093457]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_093511.jpg"
	thumbURL="thumbs/20160903_093511.jpg"
	linkURL="images/20160903_093511.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_093511.jpg">
    <title><![CDATA[20160903_093511]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_093527.jpg"
	thumbURL="thumbs/20160903_093527.jpg"
	linkURL="images/20160903_093527.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_093527.jpg">
    <title><![CDATA[20160903_093527]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_100447.jpg"
	thumbURL="thumbs/20160903_100447.jpg"
	linkURL="images/20160903_100447.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_100447.jpg">
    <title><![CDATA[20160903_100447]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_100513.jpg"
	thumbURL="thumbs/20160903_100513.jpg"
	linkURL="images/20160903_100513.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_100513.jpg">
    <title><![CDATA[20160903_100513]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160903_100524.jpg"
	thumbURL="thumbs/20160903_100524.jpg"
	linkURL="images/20160903_100524.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20160903_100524.jpg">
    <title><![CDATA[20160903_100524]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151021_101444.jpg"
	thumbURL="thumbs/20151021_101444.jpg"
	linkURL="images/20151021_101444.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101444.jpg">
    <title><![CDATA[20151021_101444]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151021_101453.jpg"
	thumbURL="thumbs/20151021_101453.jpg"
	linkURL="images/20151021_101453.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101453.jpg">
    <title><![CDATA[20151021_101453]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151021_101514.jpg"
	thumbURL="thumbs/20151021_101514.jpg"
	linkURL="images/20151021_101514.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101514.jpg">
    <title><![CDATA[20151021_101514]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151021_101539.jpg"
	thumbURL="thumbs/20151021_101539.jpg"
	linkURL="images/20151021_101539.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101539.jpg">
    <title><![CDATA[20151021_101539]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20151021_101541.jpg"
	thumbURL="thumbs/20151021_101541.jpg"
	linkURL="images/20151021_101541.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA BAHIA MANZANO\20151021_101541.jpg">
    <title><![CDATA[20151021_101541]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>