<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="990"
	maxImageHeight="660"
	indexPageName="004.html"

>
  <image imageURL="images/20131024_093605_LLS.jpg"
	thumbURL="thumbs/20131024_093605_LLS.jpg"
	linkURL="images/20131024_093605_LLS.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093605_LLS.jpg">
    <title><![CDATA[20131024_093605_LLS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20130312_172632.jpg"
	thumbURL="thumbs/20130312_172632.jpg"
	linkURL="images/20130312_172632.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20130312_172632.jpg">
    <title><![CDATA[20130312_172632]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20130312_172652.jpg"
	thumbURL="thumbs/20130312_172652.jpg"
	linkURL="images/20130312_172652.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20130312_172652.jpg">
    <title><![CDATA[20130312_172652]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093118.jpg"
	thumbURL="thumbs/20131024_093118.jpg"
	linkURL="images/20131024_093118.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093118.jpg">
    <title><![CDATA[20131024_093118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093133.jpg"
	thumbURL="thumbs/20131024_093133.jpg"
	linkURL="images/20131024_093133.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093133.jpg">
    <title><![CDATA[20131024_093133]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093222 (1).jpg"
	thumbURL="thumbs/20131024_093222 (1).jpg"
	linkURL="images/20131024_093222 (1).jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093222 (1).jpg">
    <title><![CDATA[20131024_093222 (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093222.jpg"
	thumbURL="thumbs/20131024_093222.jpg"
	linkURL="images/20131024_093222.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093222.jpg">
    <title><![CDATA[20131024_093222]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093515_LLS.jpg"
	thumbURL="thumbs/20131024_093515_LLS.jpg"
	linkURL="images/20131024_093515_LLS.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093515_LLS.jpg">
    <title><![CDATA[20131024_093515_LLS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093525_LLS.jpg"
	thumbURL="thumbs/20131024_093525_LLS.jpg"
	linkURL="images/20131024_093525_LLS.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093525_LLS.jpg">
    <title><![CDATA[20131024_093525_LLS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20131024_093547_LLS.jpg"
	thumbURL="thumbs/20131024_093547_LLS.jpg"
	linkURL="images/20131024_093547_LLS.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\!!!FUENTES\BCSRL\CASA VILLA LA ANGOSTURA 320 M2\20131024_093547_LLS.jpg">
    <title><![CDATA[20131024_093547_LLS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>