<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="990"
	maxImageHeight="660"
	useFullscreenExpand="false"
	useThumbDots="false"
	indexPageName="001.html"

>
  <image imageURL="images/img08.jpg"
	thumbURL="thumbs/img08.jpg"
	linkURL="images/img08.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img08.jpg">
    <title><![CDATA[img08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img01.jpg"
	thumbURL="thumbs/img01.jpg"
	linkURL="images/img01.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img01.jpg">
    <title><![CDATA[img01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img02.jpg"
	thumbURL="thumbs/img02.jpg"
	linkURL="images/img02.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img02.jpg">
    <title><![CDATA[img02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img03.jpg"
	thumbURL="thumbs/img03.jpg"
	linkURL="images/img03.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img03.jpg">
    <title><![CDATA[img03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img04.jpg"
	thumbURL="thumbs/img04.jpg"
	linkURL="images/img04.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img04.jpg">
    <title><![CDATA[img04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img05.jpg"
	thumbURL="thumbs/img05.jpg"
	linkURL="images/img05.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img05.jpg">
    <title><![CDATA[img05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img06.jpg"
	thumbURL="thumbs/img06.jpg"
	linkURL="images/img06.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img06.jpg">
    <title><![CDATA[img06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img07.jpg"
	thumbURL="thumbs/img07.jpg"
	linkURL="images/img07.jpg"
	linkTarget="_blank"
	sourcePath="D:\Mis Sitios Web\BCSRL\desarrollos\001\img07.jpg">
    <title><![CDATA[img07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>